TEST_DATA.IMAGE_PNG_FILE="./testdata/files/image.png"
HTTP_CLIENT.URL="http://127.0.0.1:8000"
HTTP_CLIENT.TIMEOUT=30
SWAGGER_COVERAGE_SERVICES='[{"key":"api-course","name":"API Course","tags":["API"],"repository":"https://github.com/Nikita-Filonov/qa-automation-engineer-api-course","swagger_url":"http://127.0.0.1:8000/openapi.json"}]'
SWAGGER_COVERAGE_HTML_REPORT_FILE="./coverage.html"
