allure-pytest==2.16.0
email_validator==2.3.0
Faker==40.11.1
httpx==0.28.1
jsonschema==4.26.0
pydantic==2.12.5
pydantic-settings==2.14.1
pytest==9.0.3
pytest-xdist==3.8.0
swagger-coverage-tool==0.33.0
